/* SacolaForm.css */

.container {
  background-color: #f9f9f9;
  /* Fundo mais claro */
  color: #333;
  width: 100%;
  /* Texto mais escuro */
  /* padding: 20px; */
  margin-top: 20px;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* min-width: 50%; */
}

.container-form {
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0;

  /* align-items: center; */

}

.container-form input {
  width: 90%;
  background-color: #d4ddd9;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  /* Texto mais escuro */
}

form {
  background-color: #fff;
  /* Fundo branco para o formulário */
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
  font-weight: bold;
  color: #555;
  /* Texto mais escuro */
}

form input {
  width: 100%;
  /* padding: 10px; */
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  /* Borda mais clara */
  border-radius: 4px;
  background-color: #f5f5f5;
  /* Fundo mais claro para o campo */
  color: #333;
  /* Texto mais escuro */
}

form button {
  background-color: #333;
  /* Fundo mais escuro para o botão */
  color: #fff;
  /* Texto branco para o botão */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #4cd332;
  color: #fff;

  /* Fundo mais escuro ao passar o mouse sobre o botão */
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table th,
table td {
  /* padding: 10px; */
  text-align: left;
  border-bottom: 1px solid #ccc;
  /* Borda mais clara para a tabela */
}

table th {
  background-color: #333;
  /* Fundo mais escuro para cabeçalho da tabela */
  color: #fff;
  /* Texto branco para cabeçalho da tabela */
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 8px;
  color: #333;
  /* Texto mais escuro para botões de ação */
}

button:hover {
  color: #555;
  /* Texto mais escuro ao passar o mouse sobre os botões de ação */
}