.context {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.context-form {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.notificacao {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.notificacao .titulo {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.notificacao .mensagem {
  font-size: 14px;
  color: #fff;
}

.notificacao.sucesso {
  background-color: #28a745;
}

.notificacao.erro {
  background-color: #dc3545;
}

@media (max-width: 768px) {
  .context {
    margin-top: 20px;
    border-radius: 20px;
    /* background-color: #deeaf6; */
    width: auto;
  }


}