/* Estilizando a div que envolve o widget */
#bible-widget {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
  min-width: 50%;
}

/* Estilizando o botão */
#mostrarVersiculo {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
}

#mostrarVersiculo:hover {
  background-color: #0056b3;
}

/* Estilizando o span do versículo */
#versiculo {
  font-size: 18px;
  margin-top: 10px;
  font-style: italic;
}

/* Estilizando o título (opcional) */
h1 {
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}