.footer {
  background-color: #f7dece;
  color: #2d2e2c;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}


/* .color1 { #f7dece };
.color2 { #eed7c5 };
.color3 { #ccccbb };
.color4 { #9ec4bb };
.color5 { #2d2e2c }; */